* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.makeIt {
  color: goldenrod;
  font-size: 50px;
  font-family: cursive;
  font-weight: 600;
}
