* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
  padding: 0 40px;
}

.item {
  font-size: 20px;
  font-family: cursive;
}

.navbar i {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 12px;
  border-radius: 50%;
}

.bigWriting {
  width: 100%;
  padding: 20px 100px;
}

.bigWriting h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
}

.writingLinks {
  padding: 20px 100px;
  margin-top: -30px;
  font-size: 18px;
  font-family: sans;
  line-height: 26px;
  display: flex;
  justify-content: space-between;
}

.rightSide {
  padding: 10px;
  width: 40%;
  margin-right: -80px;
  font-size: 20px;
  font-weight: 400;
}

.rightSide .element {
  margin: 8px;
  padding: 10px 0;
  border-top: 2px solid black;
}

.rightSide .element a {
  text-decoration: none;
  color: black;
}

.rightSide .element1 {
  display: flex;
  justify-content: space-between;
}

.rightSide .element1 i {
  background-color: black;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSide .element1 i:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.image img {
  height: 36%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
